{% extends 'base.html' %}
{% block content %}
<h1>Add Recipes</h1>
<div class="card col-sm-10 mt-2 mb-2 pt-4 pb-4" id="add-recipe-card">
	<h4>Add Recipe</h4>
	<hr/>
	<br>
	<form method='POST' action='/add_new_recipe'>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Course Type</label>
			<select class="form-control" id="course_types" name="course_type">
				
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlInput1">Name</label>
			<input type="text" class="form-control" id="recipe_name" name="recipe_name"  required>
		</div>
		<div class="form-group">
			<label for="exampleFormControlInput1">Description</label>
			<input type="text" class="form-control" id="description" name="description" required>
		</div>
		<div class="form-group">
			<label for="exampleFormControlInput1">Prep Time</label>
			<input type="text" class="form-control" id="prep_time" name="prep_time" required>
		</div>
		<div class="form-group">
			<label for="exampleFormControlInput1">Cooking Time</label>
			<input type="text" class="form-control" id="cooking_time" name="cooking_time" required>
		</div>
		<div class="form-group">
			<label for="exampleFormControlInput1">Makes</label>
			<input type="text" class="form-control" id="makes" name="makes" required>
		</div>
		<div class="form-group">
			<label for="exampleFormControlInput1">Ingredients</label>
			<input type="emtextail" class="form-control" id="ingredients" name="ingredients" required>
		</div>
		<div class="form-group">
			<label for="exampleFormControlTextarea1">Method</label>
			<textarea class="form-control" id="method" rows="3" name="method" required></textarea>
		</div>
		<br>
		<button id="add-recipe-button-2" class="btn btn-primary" type="submit">Add Recipe</button>
	</form>
</div>
{% endblock %}

{% block scripts %}
<script>
		var course_types = {{ course_types|safe }};
</script>

<script src="{{url_for('.static', filename='js/add_meal.js')}}"></script>
{% endblock %}