{% extends 'base.html' %}
{% block content %}

<section class="container-fluid index-container">
		<div class="opaque-overlay">
			<div class="row" style="text-align: left; text-align: center; margin-top: 10%;">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div style="border: 2px solid #fff; padding: 3em; border-radius: 10px;">
						<p style="font-size: 2em; font-weight: bold; text-shadow: 1px 2px 8px #000;">WELCOME TO</p>
						<p style="font-size: 3.5em; font-weight: bold; text-shadow: 1px 2px 8px #000;">Milly's Kitchen</p>
						<p style="font-size: 1.5em; color: #fff; text-shadow: 1px 2px 8px #000;">Christmas Recipes</p>
					</div>
				</div>
			<div class="col-md-4"></div>
			</div>
		</div>
		<div class="row justify-content-around">
			<div class="col-11"></div>
		</div>
	</section>
{% endblock %}