{% extends 'base.html' %}
{% block content %}

<section class="container-fluid">
		<div class="opaque-overlay"></div>
		<div class="row justify-content-around">
			<div class="col-11">
				<div class="headings text-center">
					<h3 class="headings-text text-center">WELCOME</h3>
					<h3 class="headings-text-center">TO MILLY'S KITCHEN</h3>
				</div>
			</div>
		</div>
        <div class="row justify-content-around">
			<div class="col-11 box-format border-box border-shadow bg-clr-red">
				<h3 class="headings"></h3>
				<img class="price-img-float img-fluid d-block" src="static/images/xmas-turkey.jpg" alt="Image of turkey" />
				<h5>
					</h5>
				<h5>
					</h5>
				<h5><b>&#9658; </b></h5>
				<h5><b>&#9658; </b></h5>
				<h5><b>&#9658; </b></h5>
				<h5><b>&#9658; </b></h5>
				<h5><b>&#9658; </b></h5>
				<h5><b>&#9658; </b></h5>
			</div>
		</div>
</section>

{% endblock %}
