{% extends 'base.html' %}
{% block content %}

<section class="container-fluid">
		<div class="opaque-overlay"></div>
		<div class="row justify-content-around">
			<div class="col-11">
				<div class="headings text-center">
					<h3 class="italic headings-text text-center">WELCOME</h3>
					<h3 class="italic headings-text text-center">TO MILLY'S KITCHEN</h3>
				</div>
			</div>
		</div>
        <div class="row justify-content-around">
			<div class="col-11 box-format border-box border-shadow bg-clr-red">
				<h3 class="headings">Milly's Kitchen Christmas Recipes</h3>
				<img class="price-img-float img-fluid d-block" src="static/images/xmas-turkey.jpg" alt="Image of turkey" />
				<h3 class="italic">From the showstopping turkey main to the superior sides, the dainty desserts to the party platters,
					whatever festive feast you're throwing this Christmas, eat, drink and be merry with all our easy festive recipes.
				</h3>
				<h5 class="italic">We here at Milly's Kitchen with our recipe plans are designed to make the big day go without a hitch.</h5>
				<h5><b>&#9658; </b>Starters</h5>
				<h5><b>&#9658; </b>Mains</h5>
				<h5><b>&#9658; </b>Desserts</h5>
				<h5><b>&#9658; </b>Trimmings</h5>
				<h5><b>&#9658; </b>Add your own Recipe to our Page</h5>
			</div>
		</div>
</section>

{% endblock %}
